
<mat-card>
  <mat-card-header>
    <mat-card-title>{{ hero.superhero }}</mat-card-title>
    <mat-card-subtitle>{{ hero.alter_ego }}</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image [src]="hero | heroImg" alt="">

  <mat-card-content>
    <h3>{{ hero.publisher }}</h3>
    <p>
      <strong>Primera aparición:</strong> {{ hero.first_appearance }}
    </p>
  </mat-card-content>

  <mat-card-actions>
    <a mat-button [routerLink]="['/heroes', hero.id]" color="warn">Leer más...</a>
    <a mat-button [routerLink]="['/heroes/edit', hero.id]">Editar</a>
  </mat-card-actions>
</mat-card>
